@*Also here we can define the layouts

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@


<h3>This is the Index Page !!</h3>
<a href="/NewEmployee">Add New Employee</a>
<br />
<a href="/EmployeeList">Get All Employees</a>

