<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>This is the view of Employee Controller.</h1>
        <h2>The action method is Index.</h2>
        <h3>The Controller is Employee</h3>
    </div>
</body>
</html>
