@model ModelInMVC.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>ID : @Model.Id</h3>
        <h3>NAME : @Model.Name</h3>
        <h3>ADDRESS : @Model.Address</h3>
    </div>
</body>
</html>
