<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>This is my first view.</h1>
        <h2>The action method is Index.</h2>
        <h3>The Controller is Home</h3>
        <div>
            <a href="/Home/AboutUs" target="_blank">Home - About Us</a><br />
            <a href="/Employee/Index" target="_blank">Employee - Index</a><br />
            <a href="/Employee/AboutUs" target="_blank">Employee - About Us</a><br />
        </div>
    </div>
</body>
</html>
